{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">		
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<!--NOTE: the url to stylesheet & palcement of '/'; this renders external css correctly-->
	<link href="{% static 'CSS/StyleSheet_edu.css' %}" rel = "stylesheet" type = "text/css"> 
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Entertainment Quiz{% endblock %}</title>	
</head>    

<body>
	{% block content %}
        <!-- set a black navbar 
        https://getbootstrap.com/docs/5.0/components/navbar/-->        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-4 py-4 px-4">
            <!-- link to QuizMe home page -->
            <a class="navbar-brand me-4" href="{% url 'Education:index' %}" alt="QuizMe">
                <img src="{% static 'assets/QuizMe.jpg' %}" height="80" width="80" style="border-radius: 35%;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- create a collapsible navigation menu for smaller screens -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <!-- list the items on the navbar -->
              <ul class="navbar-nav mr-auto py-auto" >
                
                <li class="nav-item active px-2">
                  <a class="nav-link" href="{% url 'General_Knowledge:index_gen' %}" style="color: floralwhite;">General Knowledge</a>
                </li>
                <li class="nav-item active px-2">
                    <a class="nav-link" href="{% url 'Education:index_edu' %}" style="color: floralwhite;">Education</a>
                </li>
                <li class="nav-item active px-2">
                    <a class="nav-link pe-5" href="{% url 'Entertainment:index_en' %}" style="color: floralwhite;">Entertainment</a>
                </li>
                <div class="d-flex align-items-center justify-content-end">
                    <li class="nav-item ps-6 px-4 ms-4" style="color: coral;"> 
                        <!-- show a logged in user -->
                        {% if user.is_authenticated %}
                            {{user.username}}
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown px-4 me-4">
                        <div class="dropdown text-right">
                            <button class="dropbtn">Account
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'user_auth:logout' %}">Logout</a>
                                {% else %}
                                    <a href="{% url 'user_auth:login' %}">Login</a>
                                    <a href="{% url 'user_auth:register' %}">Register</a>                                                                  
                                {% endif %}
                            </div>
                        </div>
                    </li>
                
                    </ul>
                    <div class="d-flex">
                        <form class="form-inline my-2 my-lg-0 me-2">
                            <input class="form-control mr-sm-2 me-2" type="search" placeholder="Find a quiz" aria-label="Search">
                            <!-- You can add additional styling or classes for further customization -->
                        </form>
                        <button class="btn my-2 my-sm-0" type="submit" id="searchbar_button" >Search</button>
                    </div>
                    
                </div>
            </div>
        </nav>

	    <section style="padding-left: 10pt;">     
            <div class = "row">
                <!--use the text-center class because text-align: center; in .category_heading did not work-->		
                <!-- set padding above & below the heading -->		
                <!--add a margin above the heading -->
                <div class = "col-md-12 text-center py-4 mt-4">
                    <!-- show a heading for the categories in Entertainment-->                    
                    <header>
                        <h1 id="en_heading"><span>Entertainment Quiz Categories</span></h1>
                    </header>                    
                </div>
            </div>     
            
            <!-- describe the Entertainment category -->
            <div class = "row">
                <div class = "col-md-12 text-center">
                    <p class="en_p" style="font-size: 20px;"><i>
                        Entertainment description
                    </i></p>
                </div>            
            </div>             
        </section>

        <section>
            <!--check if there are category names -->            
            <!-- list the categories-->
            {% if category_names %}  
                {% for category_name in category_names %}
                    <!--check if there are 10 questions for the category -->
                    {% if question_selection %}
                        
                        <!-- set padding above & below each subcategory -->		
                        <div class = "row py-3">
                            <!--an image button for the category -->  
                            <!--Add the d-flex and justify-content-center classes to the column. 
							This will make the column a flex container and center its contents horizontally--> 
                            <!-- vertically center the content with align-items-center--> 
                            <div class = "col-md-6 d-flex justify-content-center align-items-center">
                                <!--let the image adapt to viewport width- fluid layout expands to fill the available space -->                                                    
                                <div class="container-fluid">
                                    
                                    <!--Film category-->
                                    {% if category_name == "Film" %}
                                        <!-- call the url for the detail view of the first object in the question_selection queryset -->                    
                                        <!--alter the url to include the app_name=Entertainment 
                                        because namespaces are used to differentiate views between apps & create a url with the template tag-->
                                        <!-- pass parameters as keyword arguments from detail view without spaces or commas 
                                        generate links with the appropriate category_name. 
                                        the category_name is extracted from the selected_category object in utils.get_category_names-->
                                        <!-- display the name of the category as the button that takes you to the quiz -->
                                        <a href = "{% url 'Entertainment:en_detail' category_name=category_name question_id=first_question_id %}" class="btn">                                                 

                                            <img src ="{% static 'assets/mythology.png' %}" 
                                                alt = "Film" 
                                                class = "en_subcategory_image">
                                                
                                            <div class="subcategory_overlay">
                                                <div class="en_subcategory_text">
                                                    {{ category_name }}
                                                </div>
                                            </div>

                                        </a>    

                                    <!--Music category-->
                                    {% elif category_name == "Music" %}
                                        <a href = "{% url 'Entertainment:en_detail' category_name=category_name question_id=first_question_id %}" class="btn">                                                 

                                            <img src ="{% static 'assets/science_and_nature.png' %}" 
                                            alt = "Music" 
                                            class = "en_subcategory_image">

                                            <div class="subcategory_overlay">
                                                <div class="en_subcategory_text">
                                                    {{ category_name }}
                                                </div>
                                            </div>
                                            
                                        </a>  

                                    <!--Video Games category-->
                                    {% elif category_name == "Video Games" %}
                                        <!-- call the url for the detail view of the first object in the question_selection queryset -->                    
                                        <!--alter the url to include the app_name=Entertainment 
                                        because namespaces are used to differentiate views between apps & create a url with the template tag-->
                                        <!-- pass parameters as keyword arguments from detail view without spaces or commas 
                                        generate links with the appropriate category_name. 
                                        the category_name is extracted from the selected_category object in utils.get_category_names-->
                                        <!-- display the name of the category as the button that takes you to the quiz -->
                                        <a href = "{% url 'Entertainment:en_detail' category_name=category_name question_id=first_question_id %}" class="btn">                                                 

                                            <img src ="{% static 'assets/history.png' %}" 
                                                alt = "Video Games" 
                                                class = "en_subcategory_image">
                                                
                                            <div class="subcategory_overlay">
                                                <div class="en_subcategory_text">
                                                    {{ category_name }}
                                                </div>
                                            </div>

                                        </a> 

                                    {% endif %} 
                                    
                                </div>
                            </div>
                            
                            <div class = "col-md-6">
                                <!--a description for the Film category -->                    
                                {% if category_name == "Film" %}
                                    <p class="en_p">Film description
                                    </p>

                                <!--a description for the Music category -->                    
                                {% elif category_name == "Music" %}
                                    <p class="en_p">Music description
                                    </p>

                                <!--a description for the Video Games category -->                    
                                {% elif category_name == "Video Games" %}
                                    <p class="en_p">Video Games description
                                    </p>
                                
                                {% endif %} 
                            </div>
                        </div>                                                         
                        
                    {% endif %}                
                {% endfor %}

            <!--display an error message if a quiz was not found for a category -->
            {% else %}
                <p>No quizzes are available.</p>
            {% endif %}

        </section>
	{% endblock %}
    
</body>
</html>
