# `coverage run manage.py test *App*` where App is optional
# then run `coverage report`
# coverage run --source "Education" manage.py test && coverage report

[run]
# the files to be excluded from coverage report
omit = 
    */migrations/*    
    */settings.py  
    */tests/*   
    */__init__.py  
    */apps.py
    */wsgi.py
    */asgi.py
    */manage.py    

# show line numbers of missing
[report]
show_missing = True
